<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBmb2Mdltrfg0osltF5iTLBIW6YkiJ3D4</string>
	<key>GCM_SENDER_ID</key>
	<string>302165367615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skinCancerDetection.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>skin-cancer-detection-c3bd5</string>
	<key>STORAGE_BUCKET</key>
	<string>skin-cancer-detection-c3bd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302165367615:ios:3b70592afb6d63bbf4d18a</string>
</dict>
</plist>